<ion-header>
  <ion-toolbar>
    <ion-title class="bg-gray-500">Horario</ion-title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="text-center">
    Horario de {{nombreCursoHorario}}
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let dia of primeraFila">
        <div>{{dia}}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let hora of horasSinRepetir">
      <ion-col>
        <div>{{hora}}</div>
      </ion-col>
      <ion-col>*ngFor="let asig of materia "</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>