<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="cabeceraPage">
      HORARIO IONIC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="cabeceraPage">
    <ion-card-title class="cabeceraPage">Estudios</ion-card-title>
    <ion-card-content class="contenidoCard" *ngFor="let estudio of estudiosList">
      <ion-item class="botonNav" button (click)="navGrupos(estudio.nombre)">{{estudio.nombre}}</ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>